# Maven build directory
**/target/
target/

# Node modules
**/node_modules/
node_modules/

# IDE and Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
